@use '../../../dev/sass/varsnmix' as vm
:root
  --selection_transform: 0px
.main
  $spacing: 2rem
  width: 100%
  margin-top: 7rem
  &__title
    text-align: center
  &__intro
    background-color: vm.$color-ultra-light
    padding: $spacing
    &__title
      text-align: center
    &__img-wrapper
      @include vm.flex()
      gap: 1rem
      margin-top: $spacing
    &__img
      flex: 1 1 0
      height: 20rem
      object-fit: cover 
  &__offers
    @include vm.flex(column)
    padding-top: $spacing
    background-color: vm.$color-ultra-light
    &__title
      margin-bottom: 2rem
    &__show
      position: relative
      overflow: hidden
      cursor: pointer
      &__img
        display: none
        width: 50rem
        height: 70vh
        object-fit: cover
      &__selection
        @include vm.flex($direction: column,$justify: space-between)
        gap: 2rem
        position: static
        top: 0
        right: 2rem
        height: 100%
        padding: $spacing
        text-align: center
        &__option
          font:
            family: vm.$fm-fancy
            size: vm.$fs-xxl
          background: none
          text-decoration: underline
          color: vm.$color-text-l
@media screen and (min-width: vm.$s-desktop)
  .main__offers__show__img
    display: block
  .main__offers__show__selection
    position: absolute
    gap: 0
    transform: translateY(var(--selection_transform))
    &__option
      text-decoration: none
    &__option-img
      display: none
  .show-option
    transition: transform .3s , color .3s
  .show-option.highlight
    transform: scale(1.2)
    color: vm.$color-white